@import './global.css';
.root {
  height: 1080px;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.text {
  font: alien;
}
.tableBg {
  width: 872px;
  height: 503px;
  position: absolute;
  top: 120px;
  left: 1327px;
}
.tableText {
  composes: text;
  color: white;
  font-size: 90px;
  position: absolute;
  display: inline-block;
  height: 122px;
  line-height: 122px;
}
.tableName {
  composes: tableText;
  left: 90px;
}
.tableEnergy {
  composes: tableText;
  left: 600px;
}
.tableImg {
  position: absolute;
  display: inline-block;
  width: 74px;
  height: 90px;
  left: 490px;
  top: 16px;
}
